<%= form_with(model: @translation, url: translations_path, local: true) do |form| %>
  <div>
    <%= form.label :original_text, "Texto Original" %>
    <%= form.text_area :original_text %>
  </div>
  <div>
    <%= form.label :source_lang, "Idioma de Origem" %>
    <%= form.text_field :source_lang %>
  </div>
  <div>
    <%= form.label :target_lang, "Idioma de Destino" %>
    <%= form.text_field :target_lang %>
  </div>
  <div>
    <%= form.submit "Traduzir" %>
  </div>
<% end %>


