<p>
  <strong>Texto Original:</strong>
  <%= @translation.original_text %>
</p>

<p>
  <strong>Idioma de Origem:</strong>
  <%= @translation.source_lang %>
</p>

<p>
  <strong>Idioma de Destino:</strong>
  <%= @translation.target_lang %>
</p>

<p>
  <strong>Texto Traduzido:</strong>
  <%= @translation.translated_text.present? ? @translation.translated_text : "Tradução ainda não disponível." %>
</p>

<%= link_to 'Nova Tradução', new_translation_path %>
<%= link_to 'Voltar', root_path %>



